@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@layer utilities {
  .lines-background {
    @apply absolute bg-no-repeat bg-contain w-[40%] h-[1000px] z-[-1];
  }

  @media (max-width: 768px) {
    .lines-background {
      display: none;
    }
  }
}
